---
const props = Astro.props;
---

<button class:list={["flex items-center gap-1 justify-center bg-indigo-600 outline outline-transparent px-5 py-2 rounded-md font-medium shadow hover:shadow-lg hover:shadow-indigo-700 transition-all ease hover:bg-indigo-600 focus:outline-indigo-400 focus:outline focus:outline-3 ", props.classCustom].filter(Boolean)} {...props}>
    <slot />
</button>