---
const { id, class:classCustom } = Astro.props;
---

<a class={"flex items-center justify-center gap-1 bg-lime-400 px-5 py-2 text-slate-900 font-semibold rounded-md outline-transparent transition-all ease focus:outline focus:outline-2 focus:outline-lime-300 cursor-pointer hover:bg-lime-500 hover:shadow-lg hover:shadow-lime-900 active:bg-lime-300 active:scale-90 " + classCustom} {...Astro.props} id={id}><slot /></a>